<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dvelop Hub Center</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
</head>

<body>
    {{> components/header}}
    <section>
        <div class="container">
            {{>components/card img_src="img/AuditPlus.png" img_alt="AuditPlus logo" title="AuditPlus - Help" description="In the manual you will find all the relevant information about the product."}}

            {{>components/card img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="DVelop License Manager" description="In this site you can download setups, release notes, navigate to the aids of our products and request or uninstall licenses."}}
            
            {{>components/card img_src="img/Dvelop_wiki_card.png" img_alt="Dvelop wiki" title="DVelop Wiki - Interna" description="Accedé al conocimiento acumulado desde tiempos inmemoriales (2008) mediante una wiki sencilla, amigable y pro-imperialista (espik in inglish)."}}

            {{>components/card img_src="img/Email.png" img_alt="Dvelop email" title="E-Mail" description="Description"}}

            {{>components/card img_src="img/GeneXus.png" img_alt="Genexus email" title="GeneXus Download Center" description="Description"}}

            {{>components/card img_src="img/GitHub.png" img_alt="GitHub email" title="GitHub" description="Description"}}

            {{>components/card img_src="img/Dvelop_logo_card.png" img_alt="Licencias - Administración" title="Licencias - Administración" description="Description"}}

            {{>components/card img_src="img/Music_manager.png" img_alt="Music Manager logo" title="Music Manager" description="Description"}}

            {{>components/card img_src="img/Botonera.png" img_alt="Botonera logo" title="Music Manager - Botonera" description="Description"}}

            {{>components/card img_src="img/Redmine.png" img_alt="Redmine logo" title="Redmine - Administración" description="Description"}}

            {{>components/card img_src="img/Redmine.png" img_alt="Redmine logo" title="Redmine - Ingreso de Horas" description="Description"}}

            {{>components/card img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="Salas de DVelop - Disponibilidad" description="Description"}}

            {{>components/card img_src="img/SmartDevices.png" img_alt="SmartDevices logo" title="SmartDevicesPlus - Help" description="Description"}}

            {{>components/card img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="SNAFID" description="Description"}}

            {{>components/card img_src="img/WorkWithPlus.png" img_alt="WorkWithPlus logo" title="WorkWithPlus - Example" description="Description"}}

            {{>components/card img_src="img/WorkWithPlus.png" img_alt="WorkWithPlus logo" title="WorkWithPlus - Help" description="Description"}}
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
</body>

</html>
