<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dvelop Hub Center</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
</head>

<body>
    {{> components/header}}
    <section>
        <div class="container">
            <div class="row">
                {{>components/card img_src="img/AuditPlus.png" img_alt="AuditPlus logo" title="AuditPlus - Help" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="DVelop License Manager" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}
                
                {{>components/card img_src="img/Dvelop_wiki_card.png" img_alt="Dvelop wiki" title="DVelop Wiki - Interna" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Email.png" img_alt="Dvelop email" title="E-Mail" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/GeneXus.png" img_alt="Genexus email" title="GeneXus Download Center" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/GitHub.png" img_alt="GitHub email" title="GitHub" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Dvelop_logo_card.png" img_alt="Licencias - Administración" title="Licencias - Administración" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Music_manager.png" img_alt="Music Manager logo" title="Music Manager" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Botonera.png" img_alt="Botonera logo" title="Music Manager - Botonera" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Redmine.png" img_alt="Redmine logo" title="Redmine - Administración" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Redmine.png" img_alt="Redmine logo" title="Redmine - Ingreso de Horas" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="Salas de DVelop - Disponibilidad" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/SmartDevices.png" img_alt="SmartDevices logo" title="SmartDevicesPlus - Help" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="SNAFID" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/WorkWithPlus.png" img_alt="WorkWithPlus logo" title="WorkWithPlus - Example" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}

                {{>components/card img_src="img/WorkWithPlus.png" img_alt="WorkWithPlus logo" title="WorkWithPlus - Help" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis eros molestie, pretium risus vitae, aliquet eros. Sed gravida laoreet diam, quis ultrices ante commodo auctor. Duis at nunc tortor."}}
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
</body>

</html>
