<div class="col-sm-4 col-md-3">
    <div class="card text-center">
        <a href="#">
        	<div class="card-img">
            	<img src="{{img_src}}" alt="{{img_alt}}">
            </div>
            <div class="card-block">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">{{description}}</p>
            </div>
        </a>
    </div>
</div>
