$brand-color: #078bcd;

// Copy
$copy-color: #333;
$copy-color-inverse: #EEE;
$copy-color-inverse-hover: lighten($copy-color-inverse, 4);

// Card
$card-background: #FFF;
$card-border-color: rgba(0,0,0,.125);
$card-box-shadow-color: rgba(0,0,0,.2);