<table class="table table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Nombre</th>
            <th class="hidden-xs">Link</th>
            <th class="hidden-sm">Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{>components/aplication/table-row img_src="img/AuditPlus.png" img_alt="AuditPlus logo" title="AuditPlus - Help" id="1" link="http://dvelop.com.uy/auditplus/help/index.htm"}}

        {{>components/aplication/table-row img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="DVelop License Manager" id="2"}}
                
        {{>components/aplication/table-row img_src="img/Dvelop_wiki_card.png" img_alt="Dvelop wiki" title="DVelop Wiki - Interna" id="3" link="http://intranet.dvelop.intra/DVWiki/"}}

        {{>components/aplication/table-row img_src="img/Email.png" img_alt="Dvelop email" title="E-Mail" id="2" link="http://mail.dvelop.com.uy"}}

        {{>components/aplication/table-row img_src="img/GeneXus.png" img_alt="Genexus email" title="GeneXus Download Center" id="4" link="https://www.genexus.com/developers/DownloadCenter?en"}}

        {{>components/aplication/table-row img_src="img/GitHub.png" img_alt="GitHub email" title="GitHub" id="5" link="https://github.com/dvelopsoftwaregit"}}

        {{>components/aplication/table-row img_src="img/Dvelop_logo_card.png" img_alt="Licencias - Administración" title="Licencias - Administración" id="6" link="http://dvelopfe1:8085/wwpbaseobjects.seclogin.aspx"}}

        {{>components/aplication/table-row img_src="img/Music_manager.png" img_alt="Music Manager logo" title="Music Manager" id="7" link="http://dvelopmm:5151/"}}

        {{>components/aplication/table-row img_src="img/Botonera.png" img_alt="Botonera logo" title="Music Manager - Botonera" id="8" link="http://dvelopmm:3000"}}

        {{>components/aplication/table-row img_src="img/Redmine.png" img_alt="Redmine logo" title="Redmine - Administración" id="9" link="http://dvelopws1:6060/redmine/login"}}

        {{>components/aplication/table-row img_src="img/Redmine.png" img_alt="Redmine logo" title="Redmine - Ingreso de Horas" id="10" link="http://dvelopws1.dvelop.intra/DVRedmine/"}}

        {{>components/aplication/table-row img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="Salas de DVelop - Disponibilidad" id="11" link="http://dvelopfe1/Salas"}}

        {{>components/aplication/table-row img_src="img/SmartDevices.png" img_alt="SmartDevices logo" title="SmartDevicesPlus - Help" id="12" link="smartdevicesplus.com/help"}}

        {{>components/aplication/table-row img_src="img/Dvelop_logo_card.png" img_alt="Dvelop logo" title="SNAFID" id="13" link="http://snafid/eventos.aspx"}}

        {{>components/aplication/table-row img_src="img/WorkWithPlus.png" img_alt="WorkWithPlus logo" title="WorkWithPlus - Example" id="14" link="http://workwithplus.com/example/"}}

        {{>components/aplication/table-row img_src="img/WorkWithPlus.png" img_alt="WorkWithPlus logo" title="WorkWithPlus - Help" id="15" link="http://workwithplus.com/help/"}}
    </tbody>
</table>
