.file-input {
    position: relative;
    overflow: hidden;
    .button {
        position: absolute;
        top: 0px;
        right: 15px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        input {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            font-size: 30px;
            cursor: pointer;
            opacity: 0;
        }
    }
}
